@model LmsSystem_DAL.Entities.Student



<div class="form-container p-3 ">
   
        <h2 class="text-light text-center">Edit Student</h2>
        <div class="text-center">
            <img src="~/Content/images/icons8-user-100.png" />
        </div>
   

    <div class=" p-3">

        @* form to create a user *@
        <form method="post">

            <div class="row">

                <div class="col-md-6 mb-4">

                    <input type="text" class="form-control" id="userFname" name="FirstName" placeholder="Enter First Name"
                           value="@Model.FirstName">

                </div>

                <div class="col-md-6 mb-4">

                    <input type="text" class="form-control" id="userLname" name="LastName" placeholder="Enter Last Name"
                           value="@Model.LastName">
                </div>


            </div>

            <div class="row">
                <div class="col-md-6 mb-4">

                    <input type="text" class="form-control" id="userEmail" name="Email" placeholder="Enter Email"
                           value="@Model.Email">
                </div>

                <div class="col-md-6 mb-4">

                    <input type="text" class="form-control" id="userPhone" name="Phone" placeholder="Enter Phone Number"
                           value="@Model.Phone">
                </div>


            </div>


            <div class="row">
                <div class="col-md-6 mb-4">

                    <input type="text" onfocus="(this.type='date')" class="form-control" id="bdate" name="Birthdate" placeholder="Enter Birth date"
                           value="@Model.Birthdate">
                </div>

                <div class="col-md-6 mb-4">

                    <input type="number" class="form-control" id="stdSemester" name="Semester" placeholder="Enter Semester"
                           value="@Model.Semester">
                </div>


            </div>

            <div class="row">
                <div class="col-md-6 mb-4">

                    <input type="text" class="form-control" id="userPass" name="Password" placeholder="Enter Password"
                           value="@Model.Password">
                </div>

                <div class="col-md-6 mb-4">

                    <select name="DepartId" id="depart" class="form-control"
                            value="@Model.DepartId">
                    </select>
                </div>

            </div>


            <div class="row">
                <div class="col-md-6 mb-4">

                    <input type="text" class="form-control" id="stdSemester" name="Username" placeholder="Enter Username"
                           value="@Model.Username">
                </div>
        </div>

            <div class="d-grid gap-2">


                <button type="submit" onclick="validate()" class="btn btn-primary">Edit Student</button>

            </div>

        </form>
        <br />
       
           
        
        
        
            @Html.ActionLink("Back to Students", "GetStudents", null, new { @class = "btn btn-warning" })
        
    </div>


</div>



<script src="~/Scripts/jquery-3.4.0.js"></script>
<script>





    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/User/GetDepartmentsOptions",
            data: "{}",
            success: function (data) {
                var s = '<option value="-1">Please Select a Department</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].DepartmentId + '">' + data[i].DepartmentName + '</option>';
                }
                $("#depart").html(s);
            }
        });

        //$.ajax({
        //    type: "GET",
        //    url: "/User/GetRolesOptions",
        //    data: "{}",
        //    success: function (data) {
        //        var s = '<option value="-1">Please Select a Role</option>';
        //        for (var i = 0; i < data.length; i++) {
        //            s += '<option value="' + data[i].RoleId + '">' + data[i].RoleName + '</option>';
        //        }
        //        $("#role").html(s);
        //    }
        //});
    });


    function validate() {
        var fname = document.getElementById("userFname").value;
        var lname = document.getElementById("userLname").value;
        var email = document.getElementById("userEmail").value;
        var phone = document.getElementById("userPhone").value;
        var password = document.getElementById("userPass").value;
        var department = document.getElementById("depart").value;
        var semester = document.getElementById("stdSemester").value;

        console.log("Depart: "+department);
        console.log(fname + " " + lname);
        if (fname == '' || lname == '' || email == '' || phone == '' || password == ''||department==-1) {
            swal({
                title: "Error",
                text: "Please fill the fields first",
                icon: "error",
                return :false
            })
            
           
        }

        if (semester<1 ||semester>8) {
            swal({
                title: "Error",
                text: "Semester must be b/w 1 and 8",
                icon: "error"
            })
           
            
        }

    }

</script>

