@model IEnumerable<LmsSystem_DAL.Entities.Class>
@{
    ViewBag.Title = "GetClasses";
}


<h2>@Html.ActionLink("Create Class", "CreateClass", null, new { @class = "btn btn-success" }) </h2>
<br />
<h3 class="text-center text-light">Class List</h3>
<br />

<div class="table-responsive">
    <table class="table table-bordered" style="color:white; overflow-x:scroll;">
        <tr>

            <th>
                Teacher Name
            </th>
            <th>
                Course Name
            </th>
            <th>
                Class Day
            </th>
            <th>
                Room #
            </th>
            <th>
                Time
            </th>
            <th>
                Options
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassTime)
                </td>

                <td>
                    @Html.ActionLink("Edit", "EditClass", new { id = item.ClassId }, new { @class = "btn btn-primary" })
                    
                    @Html.ActionLink("Delete", "DeleteClass", new { id = item.ClassId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>

