@model IEnumerable<LmsSystem_DAL.Entities.Teacher>

@{
    ViewBag.Title = "GetTeachers";
}

<h2>@Html.ActionLink("Create Teacher", "CreateTeacher", null, new { @class = "btn btn-success" }) </h2>
<br />
<h3 class="text-center text-light">Teachers List</h3>
<br />

<div class="table-responsive mb-5">
    <table class="table table-bordered" style="color:white; overflow-x:scroll;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Joineddate)
            </th>

            <th>
                Options
            </th>
        </tr>
        @* Designation, Username, Joineddate *@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Joineddate)
                </td>

                <td>
                    @Html.ActionLink("Edit", "EditTeacher", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Details", "GetTeacherDetails", new { id = item.Id }, new { onclick = $"alert({item.Id})", @class = "btn btn-success" })
                    @Html.ActionLink("Delete", "DeleteTeacher", new { id = item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure to delete?');" })
                </td>
            </tr>
        }

    </table>
</div>

<script src="~/Scripts/jquery-3.4.0.min.js"></script>
<script>



    $(function () {
        var message1 = '@ViewBag.smessage';

        console.log(message1)
        if (message1 != '') {
            swal({
                title: "Oh oo",
                text: message1,
                icon:"warning"
                })
        }

    })

</script>
