@model LmsSystem_DAL.Entities.UserDetails
@{
    ViewBag.Title = "StudentDetails";
}
<style>
    .stdinfo {
        border: 2px solid white;
        background-color: #5f5858;
    }
</style>

@if (ViewBag.roletype == "student")
{
    <h1 class="text-light text-center">StudentDetails</h1>
}
else
{
    <h1 class="text-light text-center">TeacherDetails</h1>
}
<div class="container  p-3 mt-5 text-light">

    <div class="row p-4">
        <div class="col-md-4">
            <img src="~/Content/images/std1.png" />
        </div>
        <div class="col-md-8 stdinfo p-3">

            @if (ViewBag.roletype == "student")
            {

                <h3>Student Name: @Model.FirstName @Model.LastName</h3>
                <h3>Student Email: @Model.Email</h3>
                <h3>Student Phone: @Model.Phone</h3>
                <h3>Student JoinDate: @String.Format("{0:d/M/yyyy}", Model.JoinedDate) </h3>
                <h3>Student Department: @Model.DepartName</h3>
            }
            else if (ViewBag.roletype == "teacher")
            {

                <h3>Teacher Name: @Model.FirstName @Model.LastName</h3>
                <h3>Teacher Email: @Model.Email</h3>
                <h3>Teacher Phone: @Model.Phone</h3>
                <h3>Teacher JoinDate: @String.Format("{0:d/M/yyyy}", Model.JoinedDate) </h3>
                <h3>Teacher Department: @Model.DepartName</h3>
            }

        </div>
    </div>

</div>


