<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Styles.css" rel="stylesheet" />

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
</head>
<body>
    <nav class="navbar sticky-lg-top navbar-expand-lg navbar-dark" id="navbar1" >
  <div class="container-fluid"  >
    <div id="navlogo">
        @Html.ActionLink("WAY TO LEARN","Index","User",new {@class="navbar-brand mx-5"})
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto gap-3">

            
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {

                <li class="nav-item">
                    @Html.ActionLink("Students", "GetStudents", "User", null, new { @class = "link1 nav-link" })
                </li>
                <li class="nav-item">
                @Html.ActionLink("Courses", "CourseRelated", "User", null, new { @class = "link1 nav-link" })
                 </li>
                <li class="nav-item">
                @Html.ActionLink("Teacher", "GetTeachers", "User", null, new { @class = "link1 nav-link" })
                 </li>
                }
            <li class="nav-item">
                @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "link1 nav-link" })
            </li>
            }

        </ul>
    </div>
  </div>
</nav>
    <br />
    <div class="container body-content">
        @RenderBody()
        
       
    </div>
    <br />
    <footer class="fixed-bottom p-2 text-center text-white">
        <h5>Copyright © 2022 ABC SCHOOLS </h5>
    </footer>
    <script src="~/Scripts/jquery-3.4.0.js"></script>
    
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>